<html>
  <head>
  </head>
  <body>
    <h1>Your Verification Code</h1>
    <h4>Enter this verification code:</h4>
    <h2 style="letter-spacing: 20px"><b>{{verificationCode}}<b></h2>
    <h4>Note: This verification code is valid only for {{verificationCodeLifeTime}} hours</h4>
  </body>
</html>